In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import os

from matplotlib import pyplot as plt
from dotenv import load_dotenv

load_dotenv()
sns.color_palette('colorblind')
plt.style.use('Solarize_Light2')

# Setting default DPI, pulling it from dotenv if it exists, setting it on 100 if not

pc_dpi = int(os.getenv('DPI'))

if pc_dpi is None:
    pc_dpi = 100

In [2]:
ready_data = "data/seattle_scaled_clean_data.csv"

df = pd.read_csv(ready_data)

In [3]:
df.set_index("OSEBuildingID", inplace=True)

In [5]:
df.head()

,Energy_consumption_(PC1),Pollution_generated_(PC2),PrimaryPropertyType,YearBuilt,ENERGYSTARScore
OSEBuildingID,,,,,
1,2.465292e+06,-261789.405551,Hotel,1927,60.0
2,2.953300e+06,370202.945888,Hotel,1996,61.0
5,2.242051e+06,-65993.445204,Hotel,1926,56.0
10,2.070967e+06,111201.473437,Hotel,1926,27.0
17,2.094650e+06,337979.643752,Hotel,1928,48.0